# Ignorar los node_modules generados por npm o Yarn
/node_modules

# Ignorar archivos de construcción de plataformas específicas
/ios/build/
/android/build/

# Ignorar archivos de dependencias específicas de plataforma
/ios/Pods/
/android/app/libs/

# Ignorar archivos generados automáticamente
*.log
*.diff
*.patch

# Ignorar archivos de configuración local
.env
.env.local
.env.*.local

# Ignorar archivos de configuración de IDE
.vscode/
.idea/
*.iml

# Ignorar archivos de respaldo
*.bak
*.backup
*.swp

# Ignorar archivos de dependencias de desarrollo
/jest-cache/
/.eslintcache
/coverage/
